[submodule "MetaPhysicL"]
	path = MetaPhysicL
	url = https://github.com/roystgnr/MetaPhysicL.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "petsc"]
	path = petsc
	url = https://gitlab.com/petsc/petsc.git
[submodule "moosetools"]
	path = moosetools
	url = https://github.com/idaholab/moosetools.git
